<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:replace="header :: header"></div>
<section>
    <h1>Welcome <span th:text="${doctorname}"></span></h1>
    <h3>Your number is <span th:text="${doctornumber}"></span></h3>
</section>
<div th:replace="footer :: footer"></div>
</body>
</html>