<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:replace="header :: header"></div>
<form th:action="@{/doctor/}" method="get">
    <fieldset>
        <label for="name">Your doctor's name: </label>
        <input id="name" name="name" type="text" placeholder="Your name here">
        <hr>
        <label for="number">Your doctor's number: </label>
        <input id="number" name="number" type="number" placeholder="0">
        <hr>
        <input type="submit" value="Sign In">
    </fieldset>
</form>
<div th:replace="footer :: footer"></div>
</body>
</html>
